WcfTraining/ReferenceClient/Service References/ServiceReference/ExampleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30659/ExampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTrainingExample" />
  <xs:element name="TestServiceWebGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceWebGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceWebGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceWebPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceWebPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceWebPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciWebGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="useRecursiveAlgorithm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciWebGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FibonacciWebGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciWebPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTrainingExample" minOccurs="0" name="request" nillable="true" type="q1:FibonacciRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciWebPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FibonacciWebPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fibonacci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTrainingExample" minOccurs="0" name="request" nillable="true" type="q2:FibonacciRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTrainingExample" minOccurs="0" name="FibonacciResult" nillable="true" type="q3:FibonacciResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>