WcfTraining/ReferenceClient/Service References/ServiceReference/ExampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTrainingExample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTrainingExample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FibonacciRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="UseRecursiveAlgorithm" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FibonacciRequest" nillable="true" type="tns:FibonacciRequest" />
  <xs:complexType name="FibonacciResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:FibonacciValue" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FibonacciResult" nillable="true" type="tns:FibonacciResult" />
  <xs:complexType name="FibonacciValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iterations" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FibonacciValue" nillable="true" type="tns:FibonacciValue" />
</xs:schema>